<link href="../css/login.css" rel="stylesheet"/>
<form method="POST" action="/auth/login">
<div id="banner">
    <center><div id="container"><div>
        <h4>Email Address:</h4>
        <input type="email" name="emailAddress"/>
    </div>

    <div>
        <h4 id="password">Password:</h4>
        <input type="password" name="password"/>
    </div>

    <div>
        <button type="submit">Log In</button>
    </div></div></center>
    <a href="../auth/signup">Don't have an account? Sign up</a>
</div>
</form>