
<link href="../css/signup.css" rel="stylesheet"/>
<form method="POST" action="/auth/updatePW?_method=PUT">
    <div id="banner">
        <center>
            <h2 style="color:white"> Change Password </h2>
            <div id="container">
                <div>
                    <h4>Current Password</h4>
                    <input type="password" name="password"/>
                </div>
            
                <div>
                    <h4>New Password</h4>
                    <input type="password" name="newPassword">
                </div>
            
                <div>
                    <h4>Confirm New Password</h4>
                    <input type="password" name="confirmPassword"/>
                </div>
            
                <input type="hidden" name="id" value="<%= currentUser._id %>">
            
                <button type="submit">Change Password</button>
            </div>
        </center>
    </div>
</form>
