<style>
    * {
        color: white;
    }
</style>

<div>
    <h1 style="margin-top: 40%"><%= currentUser.firstName %>'s Profile</h1>
</div>

<div>
    <i>Name:</i> <strong><%= currentUser.firstName + " " + currentUser.lastName %></strong>
    <br>
</div>

<div>
   <i> Registered Email Address:</i><strong> <%= currentUser.emailAddress %></strong>
    <br>
</div>

<br>

<div>
    <a href="/auth/editprofile" style="font-size:20px; font-weight: bolder; font-style: italic; text-decoration: underline">Edit Profile</a>
    <br>
</div>

<div>
    <a href="/auth/password" style="font-size:20px; font-weight: bolder; font-style: italic; text-decoration: underline">Change Password</a>
    <br>
</div>