<link href="../../css/author-add.css" rel="stylesheet"/>
<form method="POST" action="/author/add">
<div id="banner">
    <center><div id="container"><div>
                <h4 id="name">Name :</h4>
                <input type="text" name="name"/>
            </div>

            <div>
                <h4 id="password">Nationality</h4>
                <input type="text" name="nationality"/>
            </div>
    <div>
        <h4>Year of Birth</h4>
        <input type="number" name="birthYear">
    </div>

    <input type="hidden" name="createdBy" value="<%= currentUser._id %>">

            <div>
                <button type="submit">Add Author</button>
            </div></div></center>
</div>
</form>