<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet"/>
    <title>TNB</title>
</head>
<body>
<div class="banner-cont">
    <center><span class="typed" style="font-size: 100px;"> </span></center>
</div>
<nav>
   <center> <div>
        <% if(currentUser) { %>
            <a href="/book/index">The Bookshelf</a> |
            <a href="/author/index">Lookup by Author</a> |
            <a href="/book/add">Add to the Bookshelf</a> |
            <a href="/author/add">Add an Author</a>

        <% }else{ %>
            <a href="/book/index" >The Bookshelf</a> |
                <a href="/author/index" >Lookup by Author</a>
        <% } %>
    </div></center>
</nav>
<%- body %>
<footer style="width: 100%">
    <% if(currentUser) { %>
        <div style="float: right;">
            <a href="/auth/logout" style="margin-right: 3%; width: 100%; word-break: normal">Log Out</a>
        </div>
    <% } %>
</footer>
<script src="../js/script.js"></script>
</body>
</html>
