<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/main.css" rel="stylesheet"/>
    <title>TNB</title>
</head>
<body>
<div class="banner-cont">
    <span class="typed" style="font-size: 100px;"> </span>
</div>
<nav>
    <div>
        <% if(currentUser) { %>
            <a href="/book/index">The Bookshelf</a> |
            <a href="/author/index">Lookup by Author</a> |
            <a href="/book/add">Add to the Bookshelf</a> |
            <a href="/author/add">Add an Author</a>

        <% }else{ %>
            <a href="/book/index" class="unstyled">The Bookshelf</a> |
                <a href="/author/index" class="unstyled">Lookup by Author</a>
        <% } %>
    </div>
</nav>
<%- body %>
<footer style="width: 100%">
    <% if(currentUser) { %>
        <div style="float: right;">
            <a href="/auth/logout">Log Out</a>
        </div>
    <% } %>
</footer>
<script src="../js/script.js"></script>
</body>
</html>
