.banner-text {
    width: 800px;
    color: white;
    font-size: 35px;
    font-family: "Roboto Mono", monospace;
    word-break: break-word;
    margin-top: 10%;
}
.containers {
    width: 90%;
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 10%;
    margin-left: 5%;
}
.banners {
    height: 150px;
    padding: 40px;
    border-radius: 8px;
}
a {
    text-decoration: none;
}

.landingBooks {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bookPreview {
    margin: 50px;
    text-align: center;
}

.bookPreview img {
    width: 250px;
    height: 375px;
}

.bookPreview h3 {
    inline-size: 250px;
    overflow-wrap: break-word;
}