<link href="../css/index.css" rel="stylesheet"/>
<div>
    
    <% if(currentUser) { %>
        <h2 style="color: white; text-align: center"> Recently Added </h2>
        <div class="landingBooks">
        <% books.forEach(function(book){ %>
            <div class="bookPreview">
                <a href="/book/detail?id=<%= book.id %>""><img src="<%= book.imageUrl %>" alt="<%= book.title %> cover">
                <h3><%= book.title %></h3></a>
            </div>
        <% }) %>
        </div>

        <% }else{ %>
            <center><p class="banner-text">
                A platform built for digital textbook reviews and engagement.
            </p></center>
            <div class="containers">
                <a href="auth/signup" class="banners" style="background: #2a2df6; color: white; border: none; font-family: 'Times New Roman'">
                    <h1>Sign Up</h1>
                    <p>sign up now if you're a newcoming user.</p>
                </a>
                <a href="auth/login" class="banners" style="background: green; color: white; border: none; font-family: 'Times New Roman'; width: 320px">
                    <h1>Log In</h1>
                    <p>log into an existing account.</p>
                </a>
            </div>
        <% } %>
        


</div>
