<br>
<h1>test</h1>

<p>Lorem ipsum dolor sit amet consectetur, <br>adipisicing elit. Quidem aliquam aut neque rerum tenetur iure impedit, officiis quaerat fugit praesentium, <br>doloribus rem! Minima molestias illo eum inventore corrupti <br>consectetur eius?</p>

<div>
    <% if(currentUser) { %>
        <p>You are logged in.</p>
        <% }else{ %>
            
        <% } %>
</div>