<link href="../../css/book-add.css" rel="stylesheet"/>
<form method="POST" action="/book/add">
    <div id="banner" style="height: 620px">
        <center><div id="container"><div>
                    <h4>Title</h4>
                    <input type="text" name="title">
                </div>

                <div>
                    <h4>Author(s)</h4>
                    <select type="text" name="authors[]" multiple="multiple">
                        <%  authors.forEach(function(author){ %>
                            <option value="<%= author._id %>"><%= author.name %></option>
                        <% }) %>
                    </select>
                </div>

                <div>
                    <h4>Year Published</h4>
                    <input type="number" name="yearPublished">
                </div>

                <div>
                    <h4>Book Cover URL</h4>
                    <input type="url" name="imageUrl">
                </div>

                <div>
                    <h4>Review Title</h4>
                    <input type="text" name="reviewTitle">
                </div>

                <div>
                    <h4>Review</h4>
                    <textarea name="reviewBody"></textarea>
                </div>

                <input type="hidden" name="createdBy" value="<%= currentUser.id %>">

                <button type="submit">Add to Bookshelf!</button>
            </div></center></div>
</form>